.item {
  padding: 15px;
  align-items: center;
  display: flex;
  font-family: Montserrat, sans-serif;
}

.item:hover,
.item:focus {
  background-color: #ccc;
}

.item svg {
  margin-right: 10px;
}

.item:hover svg,
.item:focus svg {
  color: tomato;
}
